body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    color: #444;
    text-align: center;
    padding: 50px 0;
}

#productsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

#productsList li {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    background-color: #5C6BC0;
    color: #fff;
    transition: background-color 0.3s ease;
    
}
#productsList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}
#productsList li:hover {
    background-color: #7986CB;
}

.product-image {
    width: 100%;
    height: auto;
}

.product-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}